<form action="/contact_form/" method="post" enctype="multipart/form-data">
	{% csrf_token %}
    {{ form.non_field_errors }}
	<div>
	  <label for="id_subject">Тема:</label>
	  {{ form.subject.errors }}
	  {{ form.subject }}
	</div>
	<div>
	  <label for="id_message">Сообщение:</label>
	  {{ form.message.errors }}
	  {{ form.message }}
	</div>
	<div>
		<input type="file" name="fileupload">
	</div>
	<input type="submit" value="Отправить"/>
	<div>
          <a href="{% url 'home' %}">На главную</a>
		  <a href="/tickets_view/">All tickets</a>
		<a href="{% url 'logout' %}">Logout</a>
	</div>
	<div>

	</div>
</form>