<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ticket {{ ticket.id }} view</title>
</head>
<body>
<h1>Тема: {{ ticket.subject }}</h1>
    Имя клиента: {{ ticket.name }}<br> Сообщение: {{ ticket.message }}<br> Почта клиента: {{ ticket.email }}<br>
Ссылка на файл: <a href="{{ ticket.fileupload.url }}">{{ ticket.fileupload }}</a><br>Созадно: {{ ticket.created }}
<br><br><br>
<dev>
	{% if manager == False %}
{% if ticket.moderatorreply == '' %}
Ожидаем ответ от менеджера
{% else %}
Ответ модератора: {{ticket.moderatorreply}}
{% endif %}
	{% endif %}
	</dev>
	{% if manager == True %}
<form action="" method="post">
	{% csrf_token %}
    {{ form.non_field_errors }}
    <div>
	  <label for="id_moderatorreply">Ответ:</label>
	  {{ form.moderatorreply.errors }}
	  {{ form.moderatorreply }}
	</div>
	<div>
		<input type="submit" value="Отправить"/>
	</div>

</form>
{% endif %}
	<div>
          <a href="/tickets_view/">All tickets</a>
	</div>
</body>
</html>