<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Ticket {{ ticket.id }} view</title>
</head>
<body>
<h1>Тема: {{ ticket.subject }}</h1>
Имя клиента: {{ ticket.name }}<br>
Сообщение: {{ ticket.message }}<br>
Почта клиента: {{ ticket.email }}<br>
{% if ticket.ticket.fileupload != None %}
Ссылка на файл:
<a href="{{ ticket.fileupload.url }}">{{ ticket.fileupload }}</a>
<br>
{% endif %}
Созадно: {{ ticket.created }}
<br><br><br>
<dev>
	{% if manager == False %}
{% if ticket.manager_reply == None %}
Ожидаем ответ от менеджера
{% else %}
Ответ модератора: {{ticket.manager_reply}}
{% endif %}
	{% endif %}
	</dev>
	{% if manager == True %}
<form action="" method="post">
	{% csrf_token %}
    {{ form.non_field_errors }}
    <div>
	  <label for="id_manager_reply">Ответ:</label>
	  {{ form.manager_reply.errors }}
	  {{ form.manager_reply }}
	</div>

	<div>
		<input type="submit" value="Отправить"/>
	</div>

</form>

{% endif %}
	<div><br><br><br>
          <a href="/tickets_view/">Все заявки</a>
	</div>
</body>
</html>